/* BOTONES CARDS */
.buttonCard {
  position: absolute;  
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 252, 98);
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  box-sizing: border-box;
  color: #025959;
  font-family: "JetBrains Mono",monospace;
  height: 27px;
  width: 27px; 
  margin-top: 6px;
  margin-left: 12.5rem;
  font-size: 18px;
  text-align: center;
  text-shadow: 0px 1px 1px rgb(19, 1, 0);
}
.buttonCard:hover {
    background-color: #5ccfc4;
}

/* CARDS */
.divCard{
  display: flex;
  justify-content: center;
}
/* TITULOS */
.linkName{
    font-family: "JetBrains Mono",monospace;
    font-weight: 500;
    text-decoration: none;
}
.propiedadesName{
    position: absolute;
    color: rgb(255, 252, 98); 
    width: 12%;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: uppercase;
    text-shadow: 0px 2px 2px rgb(19, 1, 0);
    margin-top: 10px;
    font-family: Impact, Charcoal, sans-serif;
    transition: transform 557ms ease-out;
    
}

.propiedadesName:hover{
    transform: translate(0px, 0px) scale(0.9, 0.9);
}

.propiedadesSpecies{
    position: absolute; 
    margin-top: 18rem;
    margin-right: 8rem;
    background-color: #54BFB5;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 2px 5px 8px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 11px 8px 0px rgba(0,0,0,0.35);
    width: 6rem;
    color: white;
    font-size: 17px;
}
.propiedadesGender{
    position: absolute; 
    margin-top: 18rem;
    margin-left: 8rem;
    background-color: #54BFB5;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 2px 5px 8px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 11px 8px 0px rgba(0,0,0,0.35);
    width: 6rem;
    color: white;
    font-size: 17px;
}
/* IMAGEN */
.imgDiv{
    background-color: #025959;
    box-shadow: 2px 45px 81px 0px rgb(0, 95, 139);
    -webkit-box-shadow: 2px 45px 81px 0px rgba(0, 170, 192, 0.575);
    -moz-box-shadow: 2px 45px 81px 0px rgba(0, 142, 167, 0.678);
    border-radius: 10px;
    width: 17rem;
    height: 21rem;
}
.imgCard{
    width: 14rem;
    border-radius: 5px;
    margin-top: 40px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 2px 5px 8px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 11px 8px 0px rgba(0,0,0,0.35);
} 

